body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dff5e9;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
}
header h1{
    color: #0cac96;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.card{
    background-color: white;
    border: #0cac96 solid 2px;
    border-radius: 16px;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 20px;
}
.card img{
    height: 850px;
    width: 85px;
    border-radius: 50% ;
}
.card h2{
    color: #0cac96;
}
.card p{
    display: flex;
    flex-wrap: wrap;
    color: #8e8e8e;
}
.card button{
    background-color: #0cac96;
    color: white;
    border-radius: 4px;
    border-style: none;
    padding: 8px;
}
.card button:hover{
    background-color: white;
    color: #0cac96;
    border: #0cac96 solid 2px;
}